apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  annotations:
    argocd-image-updater.argoproj.io/image-list: client=zhamburglar/mtg-tracker-client
    argocd-image-updater.argoproj.io/client.update-strategy: latest
    argocd-image-updater.argoproj.io/write-back-method: git
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
        - name: client
          image: zhamburglar/mtg-tracker-client:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: client-srv
spec:
  selector:
    app: client
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000