apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: supersecurepassword
  MYSQL_DATABASE: mtgtrackerdb
  MYSQL_USER: mtguser
  MYSQL_PASSWORD: mtgpassword123